@model IEnumerable<SOMOSDASWEBAPP.Models.Estudiante>

@{
    ViewData["Title"] = "Estudiantes";
}

<h1 style="color: #fff;">Registros de Estudiantes</h1>

<p>
    <a asp-action="Create" style="color: #fff;">Crear nuevo </a>
</p>
<form asp-action="Index" asp-controller="Estudiantes" method="post">
    <div class="row">
        <div class="col-sm-10 form-group">
            <label for="search" style="display:block">Buscar por C.I o Nombre </label>
            <input name="search" id="search" class="form-control" />
        </div>
        <div class="col-sm-2">
            <button type="submit" >Buscar</button>
        </div>
    </div>
</form>
<table >
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CedulaIdentidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Celular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorreoElectronico)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr class="fila">
                <td>
                    @Html.DisplayFor(modelItem => item.CedulaIdentidad)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Celular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorreoElectronico)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CedulaIdentidad">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.CedulaIdentidad">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.CedulaIdentidad">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
