@model SOMOSDASWEBAPP.Models.Curso

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>Estas Seguro de que quieres eliminar?</h3>
<div>
    <h4>Curso</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CodCurso)
        </dt>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duracion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duracion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tema)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tema)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Docente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Docente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CuposCurso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CuposCurso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CodCurso" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Volver</a>
    </form>
</div>
