@model SOMOSDASWEBAPP.Models.Curso

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles Curso</h1>

<div>
    <hr />
    <dl >
        <dt >
            @Html.DisplayNameFor(model => model.CodCurso)
        </dt>
        <dt c>
            @Html.DisplayNameFor(model => model.Duracion)
        </dt>
        <dd >
            @Html.DisplayFor(model => model.Duracion)
        </dd>
        <dt >
            @Html.DisplayNameFor(model => model.Tema)
        </dt>
        <dd >
            @Html.DisplayFor(model => model.Tema)
        </dd>
        <dt >
            @Html.DisplayNameFor(model => model.Docente)
        </dt>
        <dd >
            @Html.DisplayFor(model => model.Docente)
        </dd>
        <dt >
            @Html.DisplayNameFor(model => model.CuposCurso)
        </dt>
        <dd >
            @Html.DisplayFor(model => model.CuposCurso)
        </dd>
        <dt >
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd >
            @Html.DisplayFor(model => model.Tipo)
        </dd>
    </dl>
</div>
<div class="a2a_kit a2a_kit_size_32 a2a_default_style">

    <a class="a2a_button_facebook" href="https://www.facebook.com"> </a>
    <a class="a2a_button_whatsapp" href="whatsapp://send?text=TU_TEXTO%20-%20SOMOSDAS"> </a>
    <a class="a2a_button_x" href="https://twitter.com> </a>
</div>
<script async src="https://static.addtoany.com/menu/page.js"></script>

<div>|
    <a asp-action="Index">Volver</a>
</div>
<partial name="~/Views/Inscripcions/Create.cshtml" model="new Inscripcion()"></partial>