@model SOMOSDASWEBAPP.Models.Curso

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles Curso</h1>

<div>
    <hr />
    <dl >
        <dt >
            @Html.DisplayNameFor(model => model.CodCurso)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CodCurso)
        </dd>
        <dt c>
            @Html.DisplayNameFor(model => model.Duracion)
        </dt>
        <dd >
            @Html.DisplayFor(model => model.Duracion)
        </dd>
        <dt >
            @Html.DisplayNameFor(model => model.Tema)
        </dt>
        <dd >
            @Html.DisplayFor(model => model.Tema)
        </dd>
        <dt >
            @Html.DisplayNameFor(model => model.Docente)
        </dt>
        <dd >
            @Html.DisplayFor(model => model.Docente)
        </dd>
        <dt >
            @Html.DisplayNameFor(model => model.CuposCurso)
        </dt>
        <dd >
            @Html.DisplayFor(model => model.CuposCurso)
        </dd>
        <dt >
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd >
            @Html.DisplayFor(model => model.Tipo)
        </dd>
    </dl>
</div>



<div>|
    <a asp-action="Index">Volver</a>
</div>
