@model IEnumerable<SOMOSDASWEBAPP.Models.Curso>

@{
    ViewData["Title"] = "Index";
}

<h1 style="color: #fff;">Registros de Cursos</h1>

<p>
    <a asp-action="Create" style="color: #fff;"> Crear nuevo </a>
</p>
<table >
    <thead>
        <tr class="fila">
            <th>
                @Html.DisplayNameFor(model => model.Duracion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tema)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Docente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CuposCurso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Duracion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tema)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Docente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CuposCurso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CodCurso">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CodCurso">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CodCurso">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
